<div class="panel">
  <div class="row">
    <div class="small-12 column">
      <h2>Start a New Session</h2>
    </div>
  </div>
  <form {{action 'new_session' on='submit'}}>
    <div class="row">
      <div class="small-12 column">
          {{#fd-form-field label='Title' error=error.title}}{{input type='text' value=session_title}}{{/fd-form-field}}
      </div>
    </div>
    <div class="row">
      <div class="small-12 column">
        {{#link-to 'game' model.game.id class='button secondary'}}Don't Start{{/link-to}} <input type="submit" value="Start the Game" class="button"/>
      </div>
    </div>
  </form>
</div>