<article class="row expanded">
  <div class="column small-12">
    <h1>{{model.title}} <small>({{#link-to 'games.game' parent.model.id}}{{parent.model.title}}{{/link-to}})</small></h1>
  </div>
</article>
