include *.txt *.ini *.cfg *.rst
recursive-include src *.html *.css *.js *.map *.png *.jpg *.gif *.json *.eot *.svg *.ttf *.woff *.xml *.txt *.otf
recursive-exclude src/gui *.*
recursive-exclude src/node_modules *.*
