  <ul class="title-area">
    <li class="name"><h1>{{#link-to 'index'}}WebRPG{{/link-to}}</h1></li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    {{yield}}
  </section>
