/**
 * Generic styling
 */ 
ul.inline, ol.inline {
    display: inline-block;
    margin: 0;
    padding: 0;
}
ul.inline li, ol.inline li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.inline li + li:before, ol.inline li + li:before {
    content: ', ';
}
h1 small a {
    color: #cacaca;
}

/**
 * Session view styling
 */
#session-window {
    display: flex;
    flex-direction: column;
}
#session-window .main {
    flex-grow: 1;
    display: flex;
}
#session-window .bottom-bar {
    max-height: 15rem;
    display: flex;
    flex-direction: row;
}

/**
 * Character styling
 */
#session-window .characters {
    flex-grow: 2;
}
.characters .input-group, .characters select, .characters input {
    margin-bottom: 0;
}
.characters .button.cancel {
    background-color: #cc0000;
}
.characters .button.ok {
    background-color: #00cc00;
}
.characters .accordion-content {
    padding: 0;
}

/**
 * Map styling
 */
#session-window .maps {
    flex-grow: 10;
}
 
/**
 * Dice roller styling
 */
#session-window .dice-roller {
    flex-grow: 2;
}

/**
 * Chat message styling
 */
#session-window .chat {
    display: flex;
    flex-direction: column;
    flex-grow: 10;
}
#session-window .chat-message-list {
    overflow: auto;
}
#session-window .chat-message-list li {
    display: flex;
    flex-direction: row;
}
#session-window .chat-message-list li div:nth-child(1) {
    background: #e6e6e6;
    font-weight: bold;
    flex-grow: 1;
    max-width: 10rem;
}
#session-window .chat-message-list li:nth-child(2n) div:nth-child(1) {
    background: #f6f6f6;
}
#session-window .chat-message-list li div:nth-child(2) {
    background: #f0f0f0;
    flex-grow: 11;
}
#session-window .chat-message-list li:nth-child(2n) div:nth-child(2) {
    background: #ffffff;
}
#session-window .chat form {
}