ul.inline, ol.inline {
    display: inline-block;
    margin: 0;
    padding: 0;
}
ul.inline li, ol.inline li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.inline li + li:before, ol.inline li + li:before {
    content: ', ';
}
h1 small a {
    color: #cacaca;
}