ul.inline, ol.inline {
    display: inline-block;
    margin: 0;
    padding: 0;
}
ul.inline li, ol.inline li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.inline li + li:before, ol.inline li + li:before {
    content: ', ';
}
h1 small a {
    color: #cacaca;
}
.chat-message-list li div:nth-child(1) {
    background: #e6e6e6;
    font-weight: bold;
}
.chat-message-list li:nth-child(2n) div:nth-child(1) {
    background: #f6f6f6;
}
.chat-message-list li div:nth-child(2) {
    background: #f0f0f0;
}
.chat-message-list li:nth-child(2n) div:nth-child(2) {
    background: #ffffff;
}
