<div class="top-bar">
  <div class="top-bar-left">
    {{#fd-dropdown-menu}}
      <li class="menu-text">WebRPG</li>
      {{#if logged-in}}
        <li>{{#link-to "games"}}Games{{/link-to}}</li>
      {{/if}}
    {{/fd-dropdown-menu}}
  </div>
</div>

{{outlet}}
