<div class="row">
  <div class="small-12 column">
    <h1>Welcome</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 column">
    <p>The WebRPG provides an on-line environment for your mad rollplaying skillz.</p>
  </div>
</div>
<div class="row">
  <div class="small-6 column text-center">
    {{#link-to 'login' class='button'}}Login{{/link-to}}
  </div>
  <div class="small-6 column text-center">
    {{#link-to 'register' class='button'}}Register{{/link-to}}
  </div>
</div>
