<div class="row">
  <div class="column small-12">
    <h1>Login</h1>
    <form action="" class="row collapse" {{action 'login' on='submit'}}>
      <div class="column small-12 medium-5">{{#fd-input error=errors.email}}{{input value=email type='email' placeholder='E-Mail Address'}}{{/fd-input}}</div>
      <div class="column small-12 medium-5">{{#fd-input error=errors.password}}{{input value=password type='password' placeholder='Password'}}{{/fd-input}}</div>
      <div class="column small-12 medium-2"><input type="submit" value="Login" class="button expanded"/></div>
    </form>
  </div>
</div>
