<article class="row">
  <div class="column small-12">
    <h1>Register</h1>
    <form {{action 'register' on='submit'}}>
      <div class="row">
        <div class="column small-12 medium-8 large-4 end">
          {{#fd-input error=errors.email label='E-Mail Address'}}{{input value=email type='email'}}{{/fd-input}}
        </div> 
      </div>
      <div class="row">
        <div class="column small-12 medium-8 large-4 end">
          {{#fd-input error=errors.displayName label='Name'}}{{input value=displayName type='text'}}{{/fd-input}} 
        </div> 
      </div>
      <div class="row">
        <div class="column small-12 medium-8 large-4 end">
          {{#fd-input error=errors.password label='Password'}}{{input value=password type='password'}}{{/fd-input}} 
        </div> 
      </div>
      <div class="row">
        <div class="column small-12 medium-8 large-4 end">
          <input type="submit" value="Register" class="button"/>
        </div> 
      </div>
    </form>
  </div>
</article>